.Frame {
    text-align: center;
    margin-top: 10vh;
    margin: auto auto;
    height: 40vh;
    width: 40%;
    background-color: #F67280;
    margin: 0 auto;
    box-shadow: 5px 5px 40px #424242;
}

.Frame * {
    text-align: center;
}

